body {
    font-family: 'Poppins', sans-serif;
}

h1 {

    font-size: 50px;
    color: gray;
}

.color {
    color: orange;
}

.half {
    width: 50%;
    padding-left: 5%;
    margin-top: 40px;
}

.half img {
    width: 100%;


}

.link {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);

    padding: 15px;
    border-radius: 20px;
    color: white;
    font-weight: 700;

}

.down {
    margin-bottom: 80px;
}




.top {
    display: flex;

}

h2 {
    font-size: 50px;
    color: gray;
}

.mid {
    width: 50%;
    padding-left: 5%;
    margin-top: 40px;
}

.mid img {
    width: 50%;
}

#below {
    margin-top: 110px;
    margin-right: 80px;
}

.middle {
    display: flex;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}

.my {
    text-align: center;
    margin-top: 80px;
}

.make-up img {
    width: 90%;
    padding-top: 35px;
    padding-left: 25px;

}

.make-up {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 15px;
    border-radius: 20px;
}



.beside {
    display: flex;

}

.box {
    display: flex;
    box-shadow: 10px 10px 40px gray;
    margin-top: 60px;
    margin-left: 4%;
    margin-right: 7%;
    border-radius: 20px;
}

#one {
    padding-left: 120px;
    padding-bottom: 20px;
}

#two {
    padding-left: 300px;
}

#three {
    padding-left: 410px;

}